{% extends "GrosComptaBundle::layout.html.twig" %}

{% block title %}
    Edit Operation - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Edit Operation
{% endblock %}

{% form_theme edit_form with 'GrosComptaBundle:Settings:fields.html.twig' %}

{% block groscompta_body %}

<form action="{{ path('operation_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<div class="control-group">
    <label class="control-label" >{{ form_label(edit_form.amount)}}</label>
    <div class="controls">
        <div class="input-append">
            <input type="text" class="input-small" name="{{ edit_form.amount.vars.full_name }}" id="{{ edit_form.amount.vars.id }}" value="{{ edit_form.amount.vars.value }}"><span class="add-on">€</span>
            {{ form_errors(edit_form.amount) }}
        </div>
    </div>
</div>

    {{ form_row(edit_form.type) }}
    {{ form_row(edit_form.shop) }}
    {{ form_row(edit_form.category) }}
    {{ form_row(edit_form.date) }}
    {{ form_row(edit_form.shopper) }}
    {{ form_row(edit_form.description) }}
    {{ form_row(edit_form._token) }}

    <p>
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn" href="{{ path('operation') }}">Back to the list</a>
    </p>
</form>
<form action="{{ path('operation_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit">Delete</button>
</form>

{% endblock %}
