{% extends "GrosComptaBundle::layout.html.twig" %}

{% block title %}
    Operations - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Operations
{% endblock %}

{% block groscompta_body %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('operation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.amount }}€</td>
            <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.description }}</td>
            <td>
                <a class="btn" href="{{ path('operation_show', { 'id': entity.id }) }}">show</a>
                <a class="btn btn-warning" href="{{ path('operation_edit', { 'id': entity.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('operation_create') }}">
    Create a new entry
</a>

{% endblock %}
