{% extends "GrosComptaBundle::layoutcompta.html.twig" %}

{% block title %}
    Operations - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Operations
{% endblock %}

{% block groscompta_body %}

{% if entities is empty %}
<div class="well">
    No Operation has been recorded yet.<br/>
    Make sure you have at least one Shopper, Category and Shop created before adding Operations.
</div>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Shop</th>
            <th>Shopper</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{% if entity.type == 0 %}-{% else %}+{% endif %}{{ entity.amount }}€</td>
            <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
            <td>{{ entity.shop.name }}</td>
            <td>{{ entity.shopper.name }}</td>
            <td>{{ entity.description }}</td>
            <td>
                <a class="btn" href="{{ path('operation_show', { 'id': entity.id }) }}">show</a>
                {% if entity.canEdit %}
                <a class="btn btn-warning" href="{{ path('operation_edit', { 'id': entity.id }) }}">edit</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<div class="row">
    <div class="span6">
        {% include 'GrosComptaBundle::pagination.html.twig' with paginator %}
    </div>
    <div class="span3">
        <a class="btn btn-primary btn-new-entry pull-right" href="{{ path('operation_create') }}">
            Create a new entry
        </a>
    </div>
</div>

{% endblock %}
