
{% extends "GrosComptaBundle::layout.html.twig" %}

{% block title %}
    Operation {{ entity.id }} - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Operation {{ entity.id }}
{% endblock %}

{% block groscompta_body %}

<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Amount</th>
            <td>{% if entity.type == 0 %}-{% else %}+{% endif %}{{ entity.amount }}€</td>
        </tr>
        <tr>
            <th>Shop</th>
            <td>{{ entity.shop.name }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ entity.category.name }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Shopper</th>
            <td>{{ entity.shopper }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
    </tbody>
</table>

<ul class="unstyled">
    <li style="float:left; margin-right:10px">
        <a class="btn" href="{{ path('operation') }}">
            Back to the list
        </a>
    </li>
    <li style="float:left; margin-right:10px">
        <a class="btn btn-warning" href="{{ path('operation_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li style="float:left">
        <form action="{{ path('operation_delete', { 'id': entity.id }) }}" method="post" >
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
