<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>{% block title %}Gros{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
        {% endblock %}
    </head>

    <body>
        <div class="container">
            {% block navbar %}
            <div id="header" class="hero-unit">
                <h1>Life Smoother</h1>
                <p>An application to make your life easy</p>
            </div>
            {% endblock %}

            <div class="row">
                <div id="menu" class="span3">
                    <h3>ComptaGros</h3>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{{ path('_welcome') }}">Home</a></li>
                        <li><a href="{{ path('operation') }}">Operations</a></li>
                        <li><a href="{{ path('shop') }}">Shops</a></li>
                    </ul>

                </div>
                <div id="content" class="span9">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>

            <footer>
                <p>Jeremy &amp; Sabu &copy; 2012.</p>
            </footer>

            {% block javascripts %}
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
                <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
            {% endblock %}
    </body>
</html>
