    <div class="navbar">
        <div class="navbar-inner">

            <a class="brand" href="#">Life Smoother</a>
            <ul class="nav">
                <li><a href="{{ path('home')}}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Compta <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('operation')}}">Operations</a></li>
                        <li><a href="{{ path('shop')}}">Shops</a></li>
                        <li><a href="{{ path('category')}}">Categories</a></li>
                        <li><a href="{{ path('shopper')}}">Shoppers</a></li>
                        <li><a href="{{ path('import')}}">Data Import</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Charts <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('analytics')}}">Analytics</a></li>
                        <li><a href="{{ path('estimations_automatic')}}">Estimations</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('settings_defaults')}}">Defaults</a></li>
                        <li><a href="{{ path('rule')}}">Parsing Rules</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{ app.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if is_granted("ROLE_SONATA_ADMIN") %}
                        <li><a href="{{ path('sonata_admin_dashboard')}}">Go to Admin</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_security_logout')}}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
