{% extends "GrosComptaBundle::layout.html.twig" %}

{% block title %}
    Edit Shop - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Edit Shop
{% endblock %}

{% form_theme edit_form with 'GrosComptaBundle:Default:fields.html.twig' %}

{% block groscompta_body %}

<form action="{{ path('shop_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn" href="{{ path('shop') }}">Back to the list</a>
    </p>
</form>
<form action="{{ path('shop_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit">Delete</button>
</form>

{% endblock %}
