
{% extends "GrosComptaBundle::layout.html.twig" %}

{% block title %}
    Shops - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Shops
{% endblock %}

{% block groscompta_body %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>
                <a class="btn btn-warning" href="{{ path('shop_edit', { 'id': entity.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <ul>
        {% if pageCurrent-1 < 1 %}
            <li class="disabled"><a href="#">Prev</a></li>
        {% else %}
            <li><a href="{{ path('shop_page', {'page': pageCurrent-1}) }}">Prev</a></li>
        {% endif %}
        {% for i in (pageCurrent-2)..(pageCurrent+2) %}
            {% if i > 0 and i <= pagesTotal %}
                {% if i == pageCurrent %}
                    <li class="disabled"><a href="{{ path('shop_page', {'page': i}) }}">{{ i }}</a></li>
                {% else %}
                    <li><a href="{{ path('shop_page', {'page': i}) }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if pageCurrent+1 > pagesTotal %}
            <li class="disabled"><a href="#">Next</a></li>
        {% else %}
            <li><a href="{{ path('shop_page', {'page': pageCurrent+1}) }}">Next</a></li>
        {% endif %}
    </ul>
</div>

<a class="btn btn-primary" href="{{ path('shop_create') }}">
    Create a new entry
</a>

{% endblock %}
