
{% extends "GrosComptaBundle::layout.html.twig" %}

{% block title %}
    Shops - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Shops
{% endblock %}

{% block groscompta_body %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>
                <a class="btn btn-warning" href="{{ path('shop_edit', { 'id': entity.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{{ path('shop_create') }}">
    Create a new entry
</a>

{% endblock %}
