{% extends "GrosComptaBundle::layoutcompta.html.twig" %}

{% block title %}
    Shop - {{ entity.name }} - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Shop - {{ entity.name }}
{% endblock %}

{% block groscompta_body %}

<table class="table table-striped">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
    </tbody>
</table>

<ul class="unstyled">
    <li style="float:left; margin-right:10px">
        <a class="btn" href="{{ path('shop') }}">
            Back to the list
        </a>
    </li>
    <li style="float:left; margin-right:10px">
        <a class="btn btn-warning" href="{{ path('shop_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li style="float:left">
        <form action="{{ path('shop_delete', { 'id': entity.id }) }}" method="post" >
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
