{% extends "GrosComptaBundle::layout.html.twig" %}

{% block title %}
    Categories - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Categories
{% endblock %}

{% block groscompta_body %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>
                <a class="btn btn-warning" href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="row">
    <div class="span6">
        {% include 'GrosComptaBundle::pagination.html.twig' with paginator %}
    </div>
    <div class="span3">
        <a class="btn btn-primary btn-new-entry pull-right" href="{{ path('category_create') }}">
            Create a new entry
        </a>
    </div>
</div>

{% endblock %}
