{% extends "GrosComptaBundle::layout.html.twig" %}

{% block title %}
    Data Import - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Data Import
{% endblock %}

{% block header_javascripts %}
{{ parent() }}

<script type="text/javascript">
$(document).ready(function() {
    $(".btn-confirm").click(function(){
        var formId = $(this).attr('for');

        var amount = $('#'+formId+' .amount').val();
        var type = $('#'+formId+' .type').val();
        var description = $('#'+formId+' .description').val();
        var shop = $('#'+formId+' .shop').val();
        var category = $('#'+formId+' .category').val();
        var user = $('#'+formId+' .user').val();

        var dataString = 'amount='+ amount + '&type=' + type + '&description=' + description + '&shop=' + shop + '&category=' + category + '&user=' +user;
        //console.log(dataString);return false;

        $.ajax({
            type: "POST",
            url: "{{ path('operation_create') }}",
            data: dataString,
            success: function(data) {
                console.log('Ca roule!');
                console.log(data);
            }
        });
        return false;
    });

});
</script>

{% endblock %}

{% block sidebar %}
{{ parent() }}
{% endblock %}


{% block groscompta_body %}
<div class="row">
    <div class="span9">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Label</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in parsed_lines %}
                    <tr>
                        <td>{{ row.date }}</td>
                        <td>{{ row.label }}</td>
                        <td>{{ row.signedAmount|number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <td colspan=3>
                            <form id="form{{ loop.index0 }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
                                <select class="shop input input-medium">
                                    {% for shop in shops %}
                                    <option value={{ shop.id }} {% if row.parsedLabel.guessedShop is defined and row.parsedLabel.guessedShop == shop.id %}selected=selected{% endif %}>{{ shop.name }}</option>
                                    {% endfor %}
                                </select>
                                <select class="category input input-small">
                                    {% for category in categories %}
                                    <option value={{ category.id }}>{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                                <select class="user input input-small">
                                    {% for user in users %}
                                    <option value={{ user.id }} {% if row.parsedLabel.guessedUser is defined and row.parsedLabel.guessedUser == user.id %}selected=selected{% endif %}>{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                                <input class="description input input-large" type="text" placeholder="Description"/>
                                <input class="amount" type="hidden" value="{{ row.absoluteAmount }}">
                                <input class="type" type="hidden" value={{ row.type }}>
                                <input class="date" type="hidden" value={{ row.date }}>
                                <input type="submit" for="form{{ loop.index0 }}" class="btn btn-confirm btn-primary btn-small" value="Confirm"/>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>{{ lines_count }} rows waiting to be imported.</p>
    </div>
</div>
{% endblock %}

{% block body_javascripts %}
{{ parent() }}
{% endblock %}
