{% extends "GrosComptaBundle::layout.html.twig" %}

{% block title %}
    Data Import - {{ parent() }}
{% endblock %}

{% block sub_title %}
    Data Import
{% endblock %}

{% block header_javascripts %}
{{ parent() }}

<script type="text/javascript">
$(document).ready(function() {
    var count = {{ lines_count }};

    $("form").submit(function(){
        $.ajax({
            type: "POST",
            url: "{{ path('operation_create') }}",
            data: $(this).serialize(),
            dataType: "json",
            success: function(msg) {
                if (msg.status == true) {
                    $('form[row="'+msg.form+'"] > input').attr('disabled', 'disabled');
                    $('form[row="'+msg.form+'"] > select').attr('disabled', 'disabled');
                    $('form[row="'+msg.form+'"]').parent().parent().prev().addClass('success');
                    $('form[row="'+msg.form+'"] > input[type="submit"]').after(' <i class="icon-ok"></i>');
                    $('form[row="'+msg.form+'"]').parent().delay(3000).fadeOut();
                    count = count -1;
                    $('#count').html(count);
                } else if (msg.status == false) {

                    for (var key in msg.errors) {
                        console.log(key + " = " + msg.errors[key]);
                        $('form[row="'+msg.form+'"]').after('<p class="text-error">'+msg.errors[key]+'</p>');
                    }

                    $('form[row="'+msg.form+'"] > input').attr('disabled', 'disabled');
                    $('form[row="'+msg.form+'"] > select').attr('disabled', 'disabled');
                    $('form[row="'+msg.form+'"]').parent().parent().prev().addClass('error');
                    $('form[row="'+msg.form+'"] > input[type="submit"]').after(' <i class="icon-exclamation-sign"></i>');
                    $('form[row="'+msg.form+'"]').parent().delay(3000).fadeOut();
                    count = count -1;
                    $('#count').html(count);
                    
                }
            }
        });
        return false;
    });

});
</script>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    form { margin-bottom: 10px; }
    select.input-shopper { width: 130px; }
</style>
{% endblock %}

{% block sidebar %}
{{ parent() }}
{% endblock %}


{% block groscompta_body %}
<div class="row">
    <div class="span9">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Label</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, row in parsed_lines %}
                    <tr>
                        <td>{{ row.date }}</td>
                        <td>{{ row.label|slice(0, 65) }}</td>
                        <td>{{ row.signedAmount|number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <td colspan=3>
                            <form class="form-horizontal" row="{{ key }}" method="post" {{ form_enctype(forms[key]) }}>
                                <select name="{{ forms[key].shop.vars.full_name}}" class="input input-medium">
                                    {% for shop in shops %}
                                    <option value={{ shop.id }} {% if row.parsedLabel.guessedShop is defined and row.parsedLabel.guessedShop == shop.id %}selected=selected{% endif %}>{{ shop.name }}</option>
                                    {% endfor %}
                                </select>
                                <select name="{{ forms[key].category.vars.full_name}}" class="input input-small">
                                    {% for category in categories %}
                                    <option value={{ category.id }} {% if row.parsedLabel.guessedCategory is defined and row.parsedLabel.guessedCategory == category.id %}selected=selected{% endif %}>{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                                <select name="{{ forms[key].shopper.vars.full_name}}" class="input input-shopper">
                                    {% for shopper in shoppers %}
                                    <option value={{ shopper.id }} {% if row.parsedLabel.guessedShopper is defined and row.parsedLabel.guessedShopper == shopper.id %}selected=selected{% endif %}>{{ shopper.name }}</option>
                                    {% endfor %}
                                </select>
                                <input name="{{ forms[key].description.vars.full_name}}" class="input input-large" type="text" placeholder="Description"/>
                                <input name="{{ forms[key].amount.vars.full_name}}" type="hidden" value="{{ row.absoluteAmount }}">
                                <input name="{{ forms[key].type.vars.full_name}}" type="hidden" value={{ row.type }}>
                                <input name="{{ forms[key].date.vars.full_name}}" type="hidden" value={{ row.date }}>
                                <input name="form_id" type="hidden" value={{ key }}>
                                <input name="import_id" type="hidden" value={{ importId }}>
                                {{ form_row(forms[key]._token) }}
                                <input type="submit" class="btn btn-confirm btn-primary btn-small" value="Confirm"/>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p><span id="count">{{ lines_count }}</span> rows waiting to be imported.</p>
    </div>
</div>
{% endblock %}

{% block body_javascripts %}
{{ parent() }}
{% endblock %}
